---
import ChapterLayout from '../../../layouts/BulmaChapterLayout.astro';
import { getCollection, getEntry, getEntries } from 'astro:content';

export async function getStaticPaths() {
    const chapters = await getCollection('chapters');
    const chaptersWithSections = await Promise.all(chapters.map(async (chapter) => ({
        chapter: chapter.id,
        ...chapter.data,
        sections: (await getEntries(chapter.data.contains)).map((section) => ({section: section.id, ...section.data})),
    })))

  const pages = chaptersWithSections.map(({
    chapter, title, order,
    sections }) => (sections.map(({ title: sectionTitle, order: sectionOrder, section }) => ({
        params: { chapter, section },
        props: { title, order, sectionTitle, sectionOrder, chaptersWithSections, }
    }))))
    .reduce((result, current) => ([...result, ...current]), [])

  return pages
}

const { title, order, sectionOrder, sectionTitle, chaptersWithSections } = Astro.props;
const { chapter, section } = Astro.params;

const orderToAlpha = (itemOrder) => ('abcdefghijklmnopqrstuvwxyz'[itemOrder-1])
---
<ChapterLayout chaptersWithSections={chaptersWithSections} activeChapter={chapter} activeSection={section} title={title}>
  <h1 class="is-size-1" data-chapter-order={order}>{title}</h1>
  <h2 class="is-size-2" data-section-order={sectionOrder} data-section-label={orderToAlpha(sectionOrder)}>{sectionTitle}</h2>
 <p class="py-3">The study is the work of researchers at Nottingham University’s School of Medicine who focused on chemicals known as antigens. These are produced by cancer cells and trigger an immune response inside humans. In particular, they cause our bodies to make auto-antibodies that target and try to block those invading antigens. Researchers wanted to know if they could detect the presence of specific auto-antibodies in patients and show whether they had been triggered by antigens from tumour cells.</p>
 <p class="py-3">Despite the benign assessment of the medical establishment, Dr. Curry’s flawed reports were amplified by alarmist websites, prompted articles linking cellphones to brain cancer and served as evidence in lawsuits urging the removal of wireless classroom technology. In time, echoes of his reports fed Russian news sites noted for stoking misinformation about 5G technology. What began as a simple graph became a case study in how bad science can take root and flourish. "I still think there are health effects," Dr. Curry said in an interview. "The federal government needs to look at it more closely."</p>
 <p class="py-3">Public health investigators asked people what they’d eaten, and 79 percent said they’d had romaine — both at restaurants, and at home. So far, no one knows whether there’s a common link. E. coli naturally hangs out in animal intestines.</p>
</ChapterLayout>
