---
import "../styles/journey.css";
import { ClientRouter } from "astro:transitions";

const { chaptersWithSections, activeChapter, activeSection, title } = Astro.props;
const base_url = `${import.meta.env.BASE_URL}`;

const sections = chaptersWithSections.map((chapterInfo) => (chapterInfo.sections.map((sectionInfo) => ({ ...sectionInfo, chapterInfo })))).reduce((result, current) => ([...result, ...current]), [])
const sectionIndex = sections.findIndex((section) => (section.section === activeSection && section.chapterInfo.chapter === activeChapter))
const nextSection = sections[sectionIndex + 1]
const prevSection = sections[sectionIndex - 1]
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Own the HOU Journey: {title}</title>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/svg+xml" href={`${base_url}favicon.svg`} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/versions/bulma-no-dark-mode.css"
    />
    <link rel="stylesheet" href={`${base_url}assets/styles.css`} />
    <ClientRouter />
  </head>
  <body class="has-navbar-fixed-top">
    <header>
      <nav
        class="navbar is-fixed-top has-background-primary has-text-white-bis"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img
              src="https://ownthehou.org/wp-content/themes/twentytwentyfive--own-the-hou/assets/images/logo-header.svg"
            />
          </a>
        </div>
      </nav>
    </header>
    <main class="container is-fluid">
      <div class="columns">
        <nav class="column is-one-third">
          <aside class="menu journey-map p-4">
            <p class="menu-label">Your Journey</p>
            <ul class="menu-list">
              {
                chaptersWithSections.map((topLevel) => (
                  <li>
                    <a
                      data-menu-type="chapter"
                      class={topLevel.chapter === activeChapter && 'is-active' || ''}
                      href={`${base_url}chapters/${topLevel.chapter}/${topLevel.sections[0].section}/`}
                    >{topLevel.title}</a>
                    <ul class={topLevel.chapter !== activeChapter && 'is-hidden' || ''}>
                      {topLevel.sections.map((midLevel) => (
                        <li>
                          <a
                            data-menu-type="section"
                            class={midLevel.section === activeSection && 'is-active' || ''}
                            href={`${base_url}chapters/${topLevel.chapter}/${midLevel.section}/`}
                          >{midLevel.title}</a>
                        </li>
                      ))}
                    </ul>
                  </li>
                ))
              }
            </ul>
          </aside>
        </nav>
        <article class="column">
          <div class="p-6 mt-6">
            <slot />
          </div>
          <nav
            class="pagination is-centered pt-4"
            role="navigation"
            aria-label="pagination"
          >
            {prevSection && <a href={`${base_url}chapters/${prevSection.chapterInfo.chapter}/${prevSection.section}/`} class="pagination-previous">Previous</a> || <a class="pagination-previous">Previous</a>}
            {nextSection && <a href={`${base_url}chapters/${nextSection.chapterInfo.chapter}/${nextSection.section}/`} class="pagination-next">Next</a> || <a class="pagination-next">Next</a>}
          </nav>
        </article>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
